.container{
    width: 80%;
    margin: 0px auto;
    display: inline-flex;
}

.author-container{
    width: 150px;
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
}

.author-img{
    width: 100%;
}

figcaption, figure{
    margin: 0px auto;
    width: 100%;
}